html, body {
    padding: 0;
    margin: 0;
}

.main-body{
    height: 536vh;
    width: 100%;
    background-image: url("images/Homepage.png");
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.main-body-about{
    height: 340vh;
    width: 100%;
    background-image: url("images/About.png");
    
}

.aperturelogo{
    z-index: 9999;
    position: absolute;
    left: 1453px;
    top: 501.1%;
    /* filter: contrast(0.1); */
}

.portalguy{
    position: absolute;
    right: 0;
    top: 440%;
    display: none;
    animation-name: portalshoot;
    animation-duration: 1s;
    opacity: 100%;
}

.portalguyblue{
    position: absolute;
    top: 230px;
    display: none;
}

@keyframes portalshoot {
    from {opacity: 0%; right: 50px;}
    to {opacity: 100%; right: 0px;}
  }

/* .eyes{
    background-color: blue;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 142%;
    left: 46.5%;
}

.eyeball{
    background-color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.pupil{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50px;
} */

.container{
    display: flex;
    position: absolute;
    top: 142%;
    left: 46.2%;
}

.container .eyes{
    position: relative;
    width: 38px;
    height: 38px;
    display: block;
    background-color: #ffffff;
    margin: 0 20px;
    border-radius: 50%;
    /* box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 100px #ffffff; */
    animation-name: foundme;
    animation-duration: 1s;
    opacity: 100%;
}

.container .eyes::before {
    content: "";
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    box-sizing: border-box;
}

.clickme{
    position: absolute;
    width: 200px;
    height: 150px;
    top: 134%;
    left: 45.3%;
}

@keyframes foundme {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }



